bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.2024-02-02_WpfApp1/.idea/.gitignore
/.idea/.idea.2024-02-02_WpfApp1/.idea/indexLayout.xml
/.idea/.idea.2024-02-02_WpfApp1/.idea/vcs.xml
